* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 443;
    font-style: normal;
}

html,
body {
    height: 100%;
    width: 100%;
}

.main {
    position: relative;
    overflow: hidden;
}

#page {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}

#page>nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    height: 7vh;
    width: 100vw;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
}

#page>nav>button {
    padding: 7px 20px;
    border-radius: 50px;
    border: none;
    background-color: #fff;
}

#page>nav>h3 {
    font-weight: 400;
}

#page>video {
    height: 100%;
    width: 50%;
    object-fit: cover;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#page-bottom {
    height: 20%;
    width: 25%;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#page-bottom>h3 {
    color: #dadada;
    margin-bottom: 1vw;

}

#page1 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}

#page1>video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page1>h1 {
    font-size: 5vw;
    color: #fff;
    font-weight: 400;
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

#page2 {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#page2>video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page2>h1 {
    font-size: 4vw;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    text-align: center;
    color: #ffffff;
    font-weight: 500;
}


#page3 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}

#page3>img {
    width: 55%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#page3-upper{
    height: 25%;
    width: 35%;
    position: absolute;
    z-index: 9;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}
#page3-upper>img{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
}
#page3-upper-inner{
    position: absolute;
    bottom: 0%;
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    color: #ff823d;
    

}
#page3-upper-inner>h3{
    font-weight: 500;
    margin-top: -20px;
}
#page3>button{
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 30px;
    border: 1px solid black;
    font-weight: 500;
    background-color: #fff;
    border-radius: 50px;
    font-size: 1em;
}
#page4{
    position: relative;
    height: 100vh;
    width: 100vw;
}
#page4>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#center-page4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );
    text-align: center;
    color: white;
    font-size: 1.5rem;

}
#page5{
    display: flex;
    position: relative;
    height: 60vh;
    width: 100vw;
}
.left5{
    position: relative;
    height: 100%;
    width: 50%;
}
.left5>h1{
    font-size: 2.5vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
    font-weight: bold;
}
.right5{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    padding-left: 5vw;
}

.right5>h3{
    font-size: 1.5vw;
    width: 80%;
    color: #232222;
}
.right5>button{
    padding: 10px 20px;
    border: none;
    background-color: #ff823d;
    color: #fff;
    font-weight: 400;
    border-radius: 50px;
    font-size: 1.3vw;
    margin-top: 1.5vw;

}
#page6{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    height: 70vh;
    width: 100vw;
    background-color: #f5f5f7;
    
}
#page6>h3{
    margin-bottom: 1vw;
    font-size: 1.5vw;
}
#page6>h1{
    margin-bottom: 1.5vw;
    font-size: 4vw;
}
#page6>p{
    font-size: 1.2vw;
    width: 60%;
    font-weight: 500;
    color: hsl(0, 0%, 25%);
}
#page7{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #F4F5F6;
}
#page7>canvas{
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
    z-index: 99;
}
#page8{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
    background-color: #F4F5F6;
}
#page8>h1{
    width: 18%;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #858387;
    z-index: 99;
    position: absolute;
}
#page8>h1>span{
    color: #000;
}
#page9{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #F4F5F6;
}
#page9>h1{
    width: 18%;
    top: 50%;
    transform: translateY(-50%);
    right: 10%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #858387;
    z-index: 99;
    position: absolute;
}
#page9>h1>span{
    color: #000;
}
#page10{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #F4F5F6;
}
#page10>h1{
    width: 18%;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #858387;
    z-index: 99;
    position: absolute;
}
#page10>h1>span{
    color: #000;
}
#page11{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #F4F5F6;
}
#page11>h1{
    width: 18%;
    top: 50%;
    transform: translateY(-50%);
    right: 10%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #858387;
    z-index: 99;
    position: absolute;
}
#page11>h1>span{
    color: #000;
}
#page12{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #F4F5F6;
}
#page12>h1{
    width: 18%;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #858387;
    z-index: 99;
    position: absolute;
}
#page12>h1>span{
    color: #000;
}
#page13{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #F4F5F6;
}
#page13>h1{
width: 18%;
    top: 50%;
    transform: translateY(-50%);
    right: 10%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #858387;
    z-index: 99;
    position: absolute;
}
#page13>h1>span{
    color: #000;
}
#page14{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}
.left14{
    height: 90%;
    width: 45%;
    position: relative;
    background-image: url(images/apple_vision1.jpg);
    background-size: cover;
    background-size: cover;;
}
.right14{
    height: 90%;
    width: 45%;
    position: relative;
    background-image: url(images/apple_vision2.jpg);
    background-size: cover;
    background-color: yellow;
}
#page15{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#center-page15{
    height: 90%;
    width: 95%;
    position: relative;
}
#center-page15>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page16{
    position: relative;
    height: 120vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#page16>h2{
    position: absolute;
    width: 50%;
    color: #434343c7;
    font-weight: 500;
    top: 5%;
}
#page16>h2>span{
    color: #000;
}
#page16>img{
    width: 50%;
    position: absolute;
    bottom: 0%;
}
#page16>button{
    position: absolute;
    bottom: 10%;
    padding: 10px 20px;
    font-size: 1.5vw;
    border-radius: 50px;
    background-color: #F4F5F6;
    color: #fff;
    background-color: #ff5900;
    border: none;
}